flask 
flask_script 
flask_migrate 
flask_bcrypt 
mysql-connector-python 
celery==4.4.7
redis 
scipy 
pandas 
matplotlib 
git+https://github.com/gateio/gateapi-python.git 
deribit-api 
flower
cryptography